/*main colors*/
$font-color: #000000;
$font-background: #0000000f;
$white-color: #FFFFFF;
$danger-color: #944444;
$danger-background: #BA15150F;
$table-color: #000000;
$medium-icon: 24px;
 table {
     width: 100%;
     th.mat-header-cell, th {
         font-size: 14px;
         color: $font-color;
         font-weight: 500;
         text-align: center;
    }
     .mat-cell, .mat-footer-cell, td {
         font-size: 14px;
         color: $table-color;
         text-align: center;
    }
     .mat-header-cell:first-child, .mat-cell:first-child, .mat-footer-cell:first-child {
         text-align: left;
    }
}

 .icon {
     width: 40px;
     height: 40px;
     border-radius: 5px;
     border: 1px solid;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all .2s;
     cursor: pointer;
     margin: 0 auto;
}
 .icon-delete {
     border-color: $danger-color;
     background-color: $danger-background;
     .material-icons {
         color: $danger-color;
    }
     &:hover {
         background-color: $danger-color;
         .material-icons {
             color: $white-color;
        }
    }
}
 .icon-add {
     border-color: $font-color;
     background-color: $font-background;
     .material-icons {
         color: $font-color;
    }
     &:hover {
         background-color: $font-color;
         .material-icons {
             color: $white-color;
        }
    }
}











